* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("../img/hojas.jpg");
    background-attachment: fixed;
}

#global {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    filter: drop-shadow(0 0 2em #181717);
}

#logo {
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 80px;
    background-color: #034b01;
    color: #fff;
    width: 385px;
    height: 80px;
    text-align: center;
}

#menu {
    list-style: none;
    margin: 20px 0 20px 0;
    background-color: #181717;
    width: 100%;
}

#menu li {
    display: inline-block;
    padding: 15px;
    transition: 0.5s;
}

#menu li:hover {
    background-color: #034b01;
}

#menu li a {
    text-decoration: none;
    color: #fff;
}

.bx-wrapper {
    height: 250px !important;
}

.bx-viewport {
    height: 240px !important;
}

#content {
    display: grid;
    grid-template-columns: 65% 1fr;
    padding: 10px;
    gap: 35px;
}

#post-header {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

#post-header button {
    width: 160px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #034b01;
    border: none;
    padding: 10px;
    transition: 0.5s;
}

#post-header button:hover {
    background-color: #023500;
}

.post h2 {
    font-size: 30px;
    color: #181717;
}

.post span {
    color: #838383;
    font-size: 14px;
}

.post p {
    line-height: 25px;
    margin-top: 10px;
}

.post #info::after {
    content: "";
    display: block;
    position: relative;
    bottom: 30px;
    left: -13px;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    height: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    border-radius: 5px;
}

.post a {
    display: block;
    margin-bottom: 40px;
    background-color: #034b01;
    width: 160px;
    height: 30px;
    text-align: center;
    padding: 10px;
    line-height: 10px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.post a:hover {
    background-color: #023500;
}

#sidebar {
    justify-self: end;
    margin-top: 40px;
    width: 100%;
}

#sidebar img {
    width: 100%;
    margin-top: 10px;
}

#sidebar p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
}

#sidebar h4::before {
    display: inline-block;
    content: "";
    width: 26%;
    height: 10px;
    background-color: #838383;
    margin-right: 10px;
}

#sidebar h4::after {
    display: inline-block;
    content: "";
    width: 27%;
    height: 10px;
    background-color: #838383;
    margin-left: 10px;
}

#sidebar p {
    text-align: left;
    width: 251px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input:not(input[type="submit"]) {
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    width: 100%;
}

input[type="submit"] {
    align-self: flex-end;
    font-size: 15px;
    padding: 10px;
    width: 90px;
    background-color: #034b01;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.5s;
}

input:not(input[type="submit"]):focus {
    outline-color: #034b01;
}

input[type="submit"]:hover {
    background-color: #023500;
}

footer {
    color: #fff;
    height: 47px;
    background-color: rgba(51, 51, 51, 0.70);
    width: 60%;
    position: absolute;
    left: 20%;
    text-align: center;
    line-height: 3em;
    margin-top: 20px;
}