* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: 'DS-Digital';
    src: url(../Font/ds_digital/DS-DIGI.TTF) format('truetype');
}

#global {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    filter: drop-shadow(0 0 2em #181717);
}

#accordion {
    margin-top: 15px;
}

#change-themes {
    position: fixed;
    left: 0;
    top: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    width: 50px;
    height: 200px;
    background-color: rgba(51, 51, 51, 0.70);
    padding: 10px 10px 10px 0;
}

#change-themes button {
    width: 100%;
    height: 40px;
    transition: 0.3s;
    border: none;
}

#change-themes #to-green {
    background-color: #0deb05;
}

#change-themes #to-blue {
    background-color: #1b81d4;
}

#change-themes #to-red {
    background-color: #df0d0d;
}

#change-themes button:hover {
    width: 70px;
}

#logo {
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 80px;
    background-color: var(--primary-color);
    color: #fff;
    width: 385px;
    height: 80px;
    text-align: center;
}

#menu {
    list-style: none;
    margin: 20px 0 20px 0;
    background-color: #181717;
    width: 100%;
}

#menu li {
    display: inline-block;
    padding: 15px;
    transition: 0.5s;
}

#menu li:hover {
    background-color: var(--primary-color);
}

#menu li a {
    text-decoration: none;
    color: #fff;
}

.bx-wrapper {
    height: 250px !important;
}

.bx-viewport {
    height: 240px !important;
}

#content {
    display: grid;
    grid-template-columns: 65% 1fr;
    padding: 10px;
    gap: 35px;
}

#post-header {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

#post-header button {
    width: 160px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    padding: 10px;
    transition: 0.5s;
}

#post-header button:hover {
    background-color: var(--secundary-color);
}

.post h2 {
    font-size: 30px;
    color: #181717;
}

.post span {
    color: #838383;
    font-size: 14px;
}

.post p {
    line-height: 25px;
    margin-top: 10px;
}

.post #info::after {
    content: "";
    display: block;
    position: relative;
    bottom: 30px;
    left: -13px;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    height: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    border-radius: 5px;
}

.post a {
    display: block;
    margin-bottom: 40px;
    background-color: var(--primary-color);
    width: 160px;
    height: 30px;
    text-align: center;
    padding: 10px;
    line-height: 10px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.post a:hover {
    background-color: var(--secundary-color);
}

#sidebar {
    justify-self: end;
    margin-top: 40px;
    width: 100%;
}

#sidebar img {
    width: 100%;
    margin-top: 10px;
}

#sidebar p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
}

#sidebar h4::before {
    display: inline-block;
    content: "";
    width: 31%;
    height: 10px;
    background-color: #838383;
    margin-right: 10px;
}

#sidebar h4::after {
    display: inline-block;
    content: "";
    width: 31%;
    height: 10px;
    background-color: #838383;
    margin-left: 10px;
}

#sidebar p {
    text-align: left;
    width: 251px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input:not(input[type="submit"]) {
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    width: 100%;
}

input[type="submit"] {
    align-self: flex-end;
    font-size: 15px;
    padding: 10px;
    width: 90px;
    background-color: var(--primary-color);
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.5s;
}

input:not(input[type="submit"]):focus {
    outline-color: var(--primary-color);
}

input[type="submit"]:hover {
    background-color: var(--secundary-color);
}

#to-up {
    position: fixed;
    right: 0;
    bottom: 20px;
    margin: 30px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid #000;
    background-color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    line-height: 45px;
    transition: 0.5s;
}

#to-up:hover {
    background-color: var(--secundary-color);
}

#clock {
    justify-self: center;
}

#clock div {
    background-color: #2b2a2a;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #838383;
    color: #fff;
    filter: drop-shadow(5px 5px 10px #000);
}

#clock div h2 {
    font-family: 'DS-Digital';
    font-size: 50px;
}

footer {
    color: #fff;
    height: 47px;
    background-color: rgba(51, 51, 51, 0.70);
    width: 60%;
    position: absolute;
    left: 20%;
    text-align: center;
    line-height: 3em;
    margin-top: 20px;
}

/* Estilos para el formulario en la página de contacto */
#contactForm {
    width: 80%;
    margin: 0 auto;
}

#contactForm label {
    display: block;
    margin-top: 20px;
    color: #181717;
    font-size: 18px;
}

#contactForm input:not(input[type="submit"]), select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contactForm input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contactForm input[type="submit"]:hover {
    background-color: var(--secundary-color);
}