* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: #222;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
}

app-root button {
    width: 200px;
}

h1, h2, h4 {
    text-align: center;
    margin: 5px;
}

h1, h2 {
    margin-top: 100px;
}

h4 {
    color: #ccc;
}

button {
    border-radius: 10px;
    background-color: #c7b33f;
    border: 1px solid #fff;
    transition: 0.5s;
    font-size: 17px;
    text-align: center;
}

button:not(#left, #rigth) {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 20px 0 0 0;
    padding: 10px;
}

button:not(.inactive):hover {
    background-color: #7c7237;
}

.inactive {
    cursor: not-allowed;
    opacity: 0.5;
}

form:not(.un-styles) {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form input:not(.un-styles), form:not(.un-styles) textarea {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
}

form:not(.un-styles) .no-valid {
    border: 2px solid #ff0000;
}

form:not(.un-styles) button {
    width: 90%;
}
