<h2>Listado de videojuegos en la página {{ title }}</h2>

<div>
    <ul>
        <li class="game">Assassin's Creed</li>
        <li class="game">The Legend of Zelda</li>
        <li class="game">Grand Theft Auto V</li>
        <li class="game">FIFA 21</li>
        <li class="game">Call of Duty: Warzone</li>
        <li class="game">Minecraft</li>
        <li class="game">Red Dead Redemption 2</li>
        <li class="game">Fortnite</li>
        <li class="game">Super Mario Odyssey</li>
        <li class="game">God of War</li>
    </ul>

    <button (click)="changeTitle()">Cambiar el título</button>
</div>