<header>
    <ul>
        <li [routerLinkActive]="'active'"><a [routerLink]="['home']">Sobre mi</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['projectslist']">Projectos</a></li>

        <li id="logo"><a [routerLink]="['home']">DO</a></li>

        <li [routerLinkActive]="'active'"><a [routerLink]="['generateprojects']">Crear projectos</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['contact']">Contacto</a></li>
    </ul>
</header>

<section id="content">
    <router-outlet></router-outlet>
</section>

<footer>
    <p>Portafolio de David &copy;</p>
</footer>