#continer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  #projects {
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;

      a {
        text-decoration: none;
        color: #000;
        transition: color 500ms, transform 500ms;
        display: inline-block;
      }

      a:hover {
        transform: scale(1.20, 1.20);
      }

      li a {
        background-color: #dbd4d4;
        border-radius: 10px;
        width: 100%;
        margin-top: 18px;

        img {
          border-radius: 10px 10px 0 0;
          width: 100%;
          aspect-ratio: 1.50;
        }

        #info {
          text-align: center;
          line-height: 30px;
          padding: 10px;
        }

      }

    }
  }

}
