<article id="continer">
    <h2 class="title">Lista de Projectos</h2>

    <section id="projects">
        <ul>
            <li *ngFor="let project of projects">
                <a [routerLink]="['/projectdetails/', project._id]">
                    <img *ngIf="project.image" ngSrc="{{url + '/getimagepath/' + project.image}}" alt="Imagen que describe el proyecto" width="376" height="200" priority>

                    <div id="info">
                        <h3>{{project.name}}</h3>
                        <p>{{project.description}}</p>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</article>
